.detailBox{
    min-height: 130px;
    min-width: 185px;
    border-radius: 25px;
    background: #151515;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.detailName{
    display: flex;
    flex-direction: row;
    gap: 11px;
    color: #aaa;
    font-size: 20px;
    font-weight: 300;
}
.value{
    color: #E1E1E1;
    font-size: 35px;
    font-weight: 600;
    transform: translateY(15%);
}
.sub{
    color: #E1E1E1;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    bottom: 0;
}
.detailName h1{
    /* font-size: 20px; */
}