.detailBox{
    height: 105px;
    width: 170px;
    border-radius: 17.5px;
    background: #151515;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.detailName{
    display: flex;
    flex-direction: row;
    gap: 11px;
    color: #aaa;
    font-size: 17px;
    font-weight: 300;
}
.value{
    color: #E1E1E1;
    font-size: 30px;
    font-weight: 600;
    transform: translateY(15%);
}
.sub{
    color: #E1E1E1;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    bottom: 0;
}
.detailName h1{
    /* font-size: 20px; */
}