.detailBox{
    height: 140px;
    width: 200px;
    border-radius: 25px;
    background: #151515;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.detailName{
    display: flex;
    flex-direction: row;
    gap: 15px;
    color: #6F6F6F;
    font-size: 20px;
    font-weight: 300;
}
.value{
    color: #E1E1E1;
    font-size: 45px;
    font-weight: 600;
    transform: translateY(15%);
}