.homeContainer{
    display: flex;
    justify-content: space-between;
    flex-direction: column;    
    width: 100%;
    height: 92%;
    align-items: center;
    animation: opacity 1s ease-in-out;
}
 
@keyframes opacity{
    0%{
        opacity:0;
    }100%{
        opacity:1;
    }
}

.header{
    /* margin-bottom: 2rem; */
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.topContent, .bottomContent{                    
    display: flex;                  
    flex-direction: row;                    
    justify-content: space-evenly;                  
    align-items: center;                    
    width: 90%;                 
    align-items: center;                    
}                   
/* .bottomContent{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
} */
.bottomLeftContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* css for new sunrise animation */
.blackShade,#circlePath,.sunContainer{
    margin-top: 2rem;
}

.blackShade{
    position: absolute;
    height: 130px;
    width: 375px;
    bottom: 5%;
    background: linear-gradient(180deg, rgba(18, 18, 18, 0.00) 0%, #151515 43.23%);
    /* background: linear-gradient(180deg, rgba(18, 18, 18, 0.00) 0%, #222 43.23%); */
    z-index: 2; 
}
#circlePath{
    outline: 2px solid transparent;
    color: white;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    position: absolute;
    top: -8%;
    /* animation: spin 5s ease-in-out infinite; */
    z-index: 3;
    rotate: 0;
}

.img{
    width: 400px;
    /* width: 35vw; */
    height: 70px;
    z-index: 1;
    /* box-sizing: border-box; */
}

.sunContainer{      
    display: flex;
    height: 160px;
    width: 425px;
    justify-content: center;
    padding: 1rem;
    background-color: #151515;
    /* background-color: #222; */
    border-radius: 25px; 
    z-index: 0;
    position: relative;
}
.item {
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    background: #f00;
    top: 11.75%;
    /* top: 45px; */
    left: 9.5%;
    /* left: 40px; */
    background: radial-gradient(50% 50% at 50% 50%, #F00 30.73%, #E98E05 100%);
    box-shadow: 0px 0px 27px #FFAA50;
    /* animation: spin 5s ease-in-out infinite reverse; */
}

@keyframes spin {
   100%{    
        /* transform: rotate(95deg); */
        rotate: 90deg;
    }
}
.timings{
    position: absolute;
    bottom:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* padding: 0 1rem; */
    font-size: 12px;
    font-weight: 200;
}
#riseTime,#setTime{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2%;
}
.svg{
    height: 25px;
}
.upper{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sunset, .sunrise{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.bgImage{
    width: 425px;
    height: 300px;
    border-radius: 35px;
} 
.mainWeather{
    width: auto;
    background-repeat: no-repeat; 
    height: fit-content;
    position: relative;
}
.weatherGraph{
    justify-content: space-between;
    /* height: 350px; */
    align-items: center;
    gap:1rem;
    display: flex;
    flex-direction: column;
}
#tempCondition{
    position: absolute;
    top: 22.5%;
    left: 5%;
    line-height: 3rem;
    width: fit-content;
}
.temp{
    font-weight: 700;
    color: #36A6F6;
    font-size: 150px;
    text-shadow: 20px 0px 75px rgba(0, 0, 0, 0.75);;
}
#condition{
    font-size: 24px;
}
.svgLocation{
    height: 35px;
    color: #ffffff;
}
#location1{
    /* line-height: 3rem; */
    width: 90%;
    bottom:0;
    font-size: 24px;
    font-weight: 300;
    color: #eee;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    bottom: 5%;
    left: 5%;
}
#degreeUnit{
    font-weight: 400;
    top: -6rem;
    left: -1rem;
    color: white;
    font-size: 32px;
}
.conditionImg{
    position:absolute;
    top:0;
    right:0;
    transform: translate(30%,-25%);
    z-index: 10;
    width: 225px;
    filter:drop-shadow(0 0 10px #222);
}
.weatherDetailContainer{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 10%;
    grid-column-gap: 7.5%;
    justify-content: center;
    width: 600px;
}
.tagLine{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: .1rem .4rem;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 0.75rem;
}
.searchBox{
    text-indent: 3%;
    padding: 10px 25px;
    width: 55vw;
    border-radius: 50px;
    background-color: #181818;
    color: #eee;
    font-weight: 200;
    letter-spacing: .5px;
    transition: .35s;
    outline: 1px solid transparent;
}
.searchBoxDiv img{
    position: absolute;
    left: 2%;
    color: #181818;
}
.searchBoxDiv{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchBox:hover{
    outline: 1px solid #555;
    transition: all .35s ease;
}
.searchBox:focus{
    outline: 1px solid white;
    transition: .75s ease;
    color:white;
}
.searchButton{
    margin-left: 2rem;
    margin-bottom: 2rem;
    color: white;
    font-size: large;
    display: none;
}

.behindInput{
    position: absolute;
    top: 100%;
    z-index:10;
}


/* Media Queries */
 
/* Small smartphones (iPhone 4, Galaxy S2, etc.) */
@media only screen and (min-width : 475px){


}


/* Medium smartphones (iPhone 5, Galaxy S3, etc.) */
@media only screen and (min-width : 640px){
    
    

}


/* Large smartphones and small tablets (iPad mini, Nexus 7, etc.) */
@media only screen and (min-width : 768px){
    .img1{
        height: 30px;
    }    
    .img2{
        height: 25px;
    }
    .searchBox{
        padding: 2px 10px;
    }
}


@media only screen and (min-width : 1000px) and (max-width: 1100px){
    .weatherDetailContainer{
        transform: scale(.85);
    }
    .bottomLeftContainer{
        transform: scale(.87);
    }
    .mainWeather {
        transform: scale(.87)
    }
    .weatherGraph{
        transform: scale(.87);
    }
    .homeContainer{         
        transform: scale(.87);
        gap: 2rem;
        height: 103vh;
    }
    .topContent,.bottomContent{
        gap: 1.5rem;
    }
    .searchBox{
        padding: 8px 25px;
    }
}

/* Medium tablets (iPad 2, Galaxy Tab 10.1, etc.) */
@media only screen and (min-width : 1100px) and (max-width: 1200px){
    .homeContainer{       
        transform: scale(.9);
        gap: 2.5rem;
    }
    .topContent,.bottomContent{
        width: 100%;
    }
    .searchBox{
        padding: 8px 25px;
    }
}



/* Large tablets and small laptops (MacBook Air 11", etc.) 75%-80% */
@media only screen and (min-width : 1200px){
    .searchBox{
        padding: 10px 30px;
    }
}
 

/* Large laptops and desktops (iMac 27", MacBook Pro 15", etc.) <=67% */
@media only screen and (min-width : 1536px){

    .homeContainer{
        /* background : white; */
    }

}