.homeContainer{
    display: flex;
    justify-content: space-around;
    flex-direction: row;   
    gap: 4rem;
}
.leftContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.rightContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 45vw;
    height: 90vh;
    /* background-color: #333; */
    /* background-color: #101010; */
    border-radius: 2rem;
}
.aqiRange{
    accent-color: black;
    -webkit-appearance: none;
    margin-right: 15px;
    margin-top: 3rem;
    width: 400px;
    height: 5px;
    border-radius: 5px;
    background-image: linear-gradient(90deg, #B3AEF5 0%, rgba(238, 85, 153, 0.62) 30.73%, #FF7878 57.29%, #FF3200 74.48%, #FA9D5A 100%);
    position: relative;
}

.aqiRange::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: grab;
    border-radius: 50%;
    background: #111;
    border: 3px solid #E1E1E1;
    box-shadow: 0 0 25px 10px #000;
    width: 12px;
    height: 12px;
}

/* css for new sunrise animation */
.blackShade,#circlePath,.sunContainer{
    margin-top: 2rem;
}
.blackShade{
    position: absolute;
    height: 130px;
    width: 400px;
    bottom: 5%;
    /* background: linear-gradient(180deg, rgba(18, 18, 18, 0.00) 0%, #151515 43.23%); */
    background: linear-gradient(180deg, rgba(18, 18, 18, 0.00) 0%, #222 43.23%);
    z-index: 2; 
}
#circlePath{
    outline: 2px solid transparent;
    color: white;
    width: 400px;
    height: 400px;
    border-radius: 100%;
    position: absolute;
    top: -8%;
    /* animation: spin 5s ease-in-out infinite; */
    z-index: 3;
    rotate: 0;
}

.img{
    width: 400px;
    /* width: 35vw; */
    height: 70px;
    z-index: 1;
    /* box-sizing: border-box; */
}

.sunContainer{      
    display: flex;
    height: 160px;
    width: fit-content;
    padding: 1rem;
    /* background-color: #151515; */
    background-color: #222;
    border-radius: 25px;
    z-index: 0;
    position: relative;
    /* overflow hiden rectangle */
    /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%); */
}
.item {
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    background: #f00;
    top: 11.75%;
    /* top: 45px; */
    left: 9.5%;
    /* left: 40px; */
    background: radial-gradient(50% 50% at 50% 50%, #F00 30.73%, #E98E05 100%);
    box-shadow: 0px 0px 27px #FFAA50;
    /* animation: spin 5s ease-in-out infinite reverse; */
}

@keyframes spin {
   100%{    
        /* transform: rotate(95deg); */
        rotate: 90deg;
    }
}
.timings{
    position: absolute;
    bottom:0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    font-size: 12px;
    font-weight: 200;
}
#riseTime,#setTime{
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 2%;
}
.svg{
    height: 25px;
}
.upper{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sunset, .sunrise{
    display:flex;
    flex-direction: column;
    align-items: center;
}
.mainWeather{
    background-image: url("../../public/images/bgMain.png");
    /* filter: blur(1%); */
    width: 550px;
    background-repeat: no-repeat;
    height: 450px;
    margin: 2rem;
    position: relative;
}
#tempCondition{
    position: absolute;
    top: 22.5%;
    left: 5%;
    line-height: 3rem;
    width: fit-content;
}
.temp{
    font-weight: 700;
    color: #36A6F6;
    font-size: 200px;
    text-shadow: 20px 0px 75px rgba(0, 0, 0, 0.75);;
}
#condition{
    font-size: 32px;
}
.svgLocation{
    height: 50px;
    color: #ffffff;
}
#location1{
    line-height: 3rem;
    width: fit-content;
    bottom:0;
    font-size: 32px;
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 10%;
    left: 5%;
}
#degreeUnit{
    font-weight: 400;
    top: -7rem;
    left: -1rem;
    color: white;
    font-size: 32px;
}
.conditionImg{
    position:absolute;
    top:0;
    right:0;
    transform: translate(30%,-25%);
}
.weatherDetailContainer{
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: 40px; /*edit*/ 
}